{% extends 'base.html.twig' %}

{% block title %}Edit Client{% endblock %}

{% block body %}

<div class="container mt-3">

    <h1 class="text-center">Edit Client</h1>
    
</div>

    {{ include('client/_form.html.twig', {'button_label': 'Update'}) }}

<div class="container">
    <div class="row">
        <div class="mx-auto col-4 col-md-2">
            <button form="delete-client" class="btn btn-danger btn-form">Supprimer</button>
        </div>
    </div>
</div>    
{% endblock %}
